<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleNN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SimpleNN.Properties.Settings>
            <setting name="TrainingFile" serializeAs="String">
                <value>C:\AI\SimpleNN\SimpleNN\Data\housingTraining.csv</value>
            </setting>
            <setting name="TestFile" serializeAs="String">
                <value>C:\AI\SimpleNN\SimpleNN\Data\housingTest.csv</value>
            </setting>
            <setting name="ResultsFolder" serializeAs="String">
                <value>C:\AI\SimpleNN\SimpleNN\Results\</value>
            </setting>
            <setting name="SingleTestFile" serializeAs="String">
                <value>C:\AI\SimpleNN\SimpleNN\Data\housingTestSingle.csv</value>
            </setting>
        </SimpleNN.Properties.Settings>
    </applicationSettings>
</configuration>